.container{ 
    border: 2px solid black;
    background-color: lightpink;
    width:50%; 
    height: 500px;
    padding: 20px;
} 

.iteam-1,.iteam-2, .iteam-3, .iteam-4{ 
    border: 2px solid black; 
    width:200px;  

    display: inline-block;
} 
img{
    width:100%

}  
p{

    padding:20px;
    background-color: lightblue;
}
